
<table class="profile" sumary="profile information">
	<tr>
		<td class="main">
			<h1>	
				<%= image_tag avatar_url(@user) %>
				<%= @user.nickname %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>nickame</strong><br />
			<%= @user.nickname %><br />
			<strong>email</strong><br />
			<%= @user.email %><br />
			


		</td>
	</tr>
</table>