<h1>
WAT MEEBRENGEN
</h1>
<ul>
	<li>€5 inkom</li>
<li>PC</li>
<li>Scherm</li>
<li>!!Muismat!! (Zitten gaten in de tuintafel)</li>
<li>!!Headphones!! (Geen KAKAfonie van iedereen zijn geluid graag)</li>
<li>LAN-kabel (Doe maar zo lang mogelijk)</li>
<li>Externe schijf</li>
<li>Eventueel stekkerdoos</li>
<li>Eventuele snes of ps3 games</li>

<li>Eventueel eigen bureaustoel (Heb wel houten stoelen, maar zijn niet zo comfy)</li>
<li>Eventueel matrasje (Heb zetelbed en zetel beschikbaar)v
<li>Cadeau'tje voor de host</li>
<li>Eigen eten en drinken. Ik voorzie een bak bier.</li>

<li>!!!Funny hat!!! (Degene zonder funny hat, krijgt een dick-hat van mij)</li>
<li>Big bag of tears ;( Voor als ge keihard gaat bleiten.</li>
</ul>


<h1>
AWARDS
</h1>
<h3>Worden uitgereikt na elk game</h3>

<li>King of LAN2014
<li>Challengor
<li>Noob 4 Life
<li>Mad Hatter

<li>Champion
<li>Survivalist
<li>General
<li>Trackmaniac
<li>Wormblaster


<h1>
HONORABLE MENTIONS
</h1>
<h3> UT</h3>
=> Best ratio<br />
=> Solo winner<br />
=> Team winner<br />

<h3>L4D2</h3>
=> Survival winner<br />
=> Most games won<br />

<h3>General </h3>
=> Solo winner<br />
=> Team winner<br />

<h3>Trackmania</h3>
=> Most races won<br />
=> Best home made map<br />

<h3>Worms</h3>
=> Most kills<br />

<h3>Challenges</h3>
=> Most challenges won<br />
=> Grootse pot<br />


<h1>
RULES MATCHES
</h1>

<h3>Vrijdag 22u: </h3>
Trackmania, 40 points<br />
=> Race ffa, first 5 ffa (5x)<br />

<h3>Zaterdag 14u: </h3>
Generals, 36 points<br />
=> 1v1<br />
=> 2v2<br />
=> 5v5<br />

<h3>Zaterdag 20u: </h3>
UT, 36 points<br />
=> 1v1 (x2)<br />
=> 2v2 (x2)<br />
=> 5v5 (x2)<br />

<h3>Zondag 14u: </h3>
Worms, 20 points<br />
=> 1v1<br />

<h3>Zondag 20u: </h3>
Left 4 Dead 2, 36 points<br />
=> Survival 2v2 (x2)<br />
=> Versus 2v2<br />
=> Scavenge: 5v5<br />
<br />
Totaal: 138 points<br />
<br />
Elk game heeft 1 award voor meeste punten en wa honorable mentions.<br />


<h1>
RULES CHALLENGES
</h1>

<h3>ALGEMEEN</h3>
Iedereen start met 10 coins en 2000 moneys. Zaterdagochtend krijgt iedereen 4000 moneys bij en zondagochtend 6000. Na elke speeldag kan je moneys wegsteken in drooglegging-style. Je koopt 6 coins voor 50% van je moneys, je kan er enkel kopen als je 1 of minder coins over hebt. Je kan maximum 1 keer dezelfde persoon in hetzelfde spel uitdagen. Iemand kan geen 2 keer uitgedaagd worden binnen het uur.


<h3>VERLOOP</h3>
<p>2 coins inzetten voor ofwel 1) zelf iemand uitdagen. Of 2) 2 andere mensen tegen elkaar laten spelen. Hij die de coins legt, kiest hoe en wat. Go crazy! Ge moet u niet aan de games houden.</p>


<p>Spelers die niet betrokken zijn met de challenge kunnen 1 coin leggen om een challenge te joinen. Dan kunnen ze in overleg iemand kiezen om te joinen. Dan spelen ze 2v2 in shooters bijv. </p>

<p>Uitdager zet geld in. Uitgedaagde doet een tegenbod dat minimum een kwart van de bet van de uitdager moet zijn. Minimumbet is 500. Ook andere spelers kunnen bets uitbrengen. Winnaars van de challenge krijgen verliezers hun inzet en verdelen deze eerlijk + hun winst (winst is dus bovenop de inzet).</p>

<u>Winst challenge als je meedoet</u>
<br />
<li>1v1: inzet x1
<li>2v2: inzet x2
<li>3v3: inzet x3
<li>4v4: inzet x4
<li>5v5: inzet x5
<li>6v6: inzet x6
<br /><br />
<u>Winst challenge als je enkel bet</u>
<br />
<li>1v1: inzet x0,5
<li>2v2: inzet x1
<li>3v3: inzet x1,5
<li>4v4: inzet x2
<li>5v5: inzet x2,5
<li>6v6: inzet x3

<br />
<a href=mailto:bramdemuyter@gmail.com>Any questions?</a>
