			<header>
				<%= image_tag("lan.jpg", :alt => "Sample App", :class => "round") %>
				<nav class="round">
					<ul>
						<li><%= link_to "home", '/pages/home' %></li>
						<li><%= link_to "help", '#' %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>
				</nav>
			</header>